@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Printing &amp; Engraving</h1>
    <p class="lead">Request custom printing on clothing items and custom engraving on plaques and trophies.</p>
    <p><a href="#" class="btn btn-primary btn-lg">View Our Catalog &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clothing</h2>
        <p>View our collection of popular clothing items.</p>
        <p><a class="btn btn-default" href="#">Clothing Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plaques</h2>
        <p>See our selction of plaques.</p>
        <p><a class="btn btn-default" href="#">Plaque Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trophies</h2>
        <p>See our selection of trophies.</p>
        <p><a class="btn btn-default" href="#">Trophy Collection &raquo;</a></p>
    </div>
</div>