<h2>Employee Portal</h2>
<ul>
    <li>
        @Html.ActionLink("Catalog", "Index", "ProductCatalog")
        
    </li>
    <li>
        @Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")
    </li>
</ul>