@model WSC_E_Commerce_Website.Models.ProductCatalog
    
@
{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shopping Cart</title>
</head>
<body>
<h1>This is my Shopping Cart code using a Partial View</h1>
</body>
</html>