body div #HeaderTitle
{
    font-family: 'Anton', sans-serif;
    color: gray;
}
body {
    padding-top: 110px;
    padding-bottom: 20px;
}
.tableCaption {
    font-weight: bold;
}
/* font face for header */
@font-face {
    font-family: 'nexa_rust_script_l0regular';
    src: url('NexaRustScriptL-0-Free-webfont.eot');
    src: url('NexaRustScriptL-0-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustScriptL-0-Free-webfont.woff2') format('woff2'),
         url('NexaRustScriptL-0-Free-webfont.woff') format('woff'),
         url('NexaRustScriptL-0-Free-webfont.ttf') format('truetype'),
         url('NexaRustScriptL-0-Free-webfont.svg#nexa_rust_script_l0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* font face for header */
@font-face {
    font-family: 'nexa_rust_slabblack_shadow_01';
    src: url('NexaRustSlab-BlackShadow01-Free-webfont.eot');
    src: url('NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
         url('NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
         url('NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
